body {
 background-color: black;
}
.calculator {
    max-width: 350px;
    height: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 4px solid rgba(255, 0, 0, 0.681);
    border-radius: 20px;
    text-align: center;
    background: linear-gradient(rgb(0, 0, 0),rgb(204, 204, 204));
  }
  .calculator-display {
    height: 70px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #f8f9fa;
    font-size: 1.9rem;
    text-align: right;
    padding: 8px 10px;
    border: 2px solid #ced4da;
    border-radius: 20px;
  }
  .btn-calc {
    width: 60px;
    height: 60px;
    margin: 5px;
    font-size: 1.25rem;
    background-color: black;
    color: aliceblue;
    border-radius: 30px;
  }
  .btn-color{
    background-color: black;
  }
